<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab2 Suite">
    <test name="Lab2 Tests">
        <parameter name="a" value="1"/>
        <parameter name="b" value="2"/>
        <parameter name="c" value="3"/>
        <classes>
            <class name="lab_12.Lab2Tests"/>
        </classes>
    </test>
</suite>
